---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">      
      
      <div class="col-1">
        
      </div>
      <div class="col-4">
        <img src="/img/My Headshot bw v2.png" alt="testing"style="width:300;height:450px;">
      
      </div>
      <div class="col-6">
        <p>I  graduated from a double degree program from Wilfrid Laurier University in Business (BBA) and Computer Science (BSc). Over the 5-year program, I specialized in finance, machine learning and data management and analytics.</p>

        <p>I work as a consultant at KPMG in the Deal Advisory team. I leverage my business and technology skillset to improve the way infrastructure is delivered and help communities grow. My work has included building 5G network strategies with public sector clients, data management and developing operational dashboards, and building financial models for acquisitions of infrastructure assets.
        </p>
      </div>
      <div class="col-2">
        
      </div>
    </div>

    </div>
  </div>
  <div class="container">
    <div class="row">      
      

      
    

    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
